@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body{
    background-color: rgb(75, 224, 224);
    
}
h1{
    text-align: center;
    font-size: 20px;
}
main{
    background-color: #fff;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}
img.lado{
    max-width: 120px;
    max-height: 120px;

}
img.lados{
    max-width: 80px;
    max-height: 80px;

}
img.lado{
    float: right;
}
img.lados{
    float: right;
}
