@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body{
    background-color: rgb(75, 224, 224);

}
main{
    background-color: #fff;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}